{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <img src={{url_for('static', filename='Img\MARS-2-7.png')}}
        alt="здесь должна была быть картинка, но не нашлась">
        <h1>Аварицный доступ</h1>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' and field.name !="submit" %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    <div>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </div>
    </form>
{% endblock %}